@using SimpleSocialApp.Data.Enums
@using SimpleSocialApp.Data.Models
@using SimpleSocialApp.Models.ViewModels.Chats
@model List<ChatViewModel>

<div id="chatListComponent">
    <div class="chat-list-container">
        <div class="create-chat-btn mt-3">
            <a asp-action="Create" asp-controller="Chat" class="btn btn-success">Create a new chat</a>
        </div>
        @if (Model.Count != 0)
        {
            <h2 class="chat-header">Chats</h2>
            <div class="chat-list">
                @foreach (var item in Model)
                {
                    <div class="chat-list-item mb-2">
                        <a asp-action="Index" asp-controller="Chat" asp-route-chatId="@item.ChatId" class="chat-link d-flex align-items-center">
                            @if (item.Type == ChatType.Group)
                            {
                                <p class="m-0">@item.Title</p>
                            }
                            else if (item.Type == ChatType.Private)
                            {
                                <img src="@(!string.IsNullOrEmpty(@item.Friend.Media?.Url) ? @item.Friend.Media.Url : "/images/profile_default/default_avatar.jpg")"
                                     alt="@item.Friend.FirstName @item.Friend.LastName" />
                                <p class="m-0">@item.Friend.FirstName @item.Friend.LastName</p>
                            }
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <h3>You participate in no chats yet!</h3>
        }
        <div class="create-chat-btn mt-3 text-center">
            <a asp-action="Create" asp-controller="Chat" class="btn btn-success">Create a new chat</a>
        </div>
    </div>
</div>

<style>
    #chatListComponent .chat-list-container {
        position: fixed;
        background-color: #ecf0f1;
        padding: 20px;
        height: 92vh;
        right: 0;
        top: 56px;
        border-radius: 8px;
        width: 250px;
        max-width: 100%;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }

    #chatListComponent img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
        margin-right: 10px;
    }

    #chatListComponent .chat-header {
        color: #1E3A8A;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
    }

    #chatListComponent .chat-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    #chatListComponent .chat-list-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 5px 10px;
        background-color: transparent;
        height: 45px;
        border: 2px solid #1E3A8A;
        border-radius: 8px;
        transition: all 0.3s ease;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        #chatListComponent .chat-list-item:hover {
            background-color: #1E3A8A;
            color: white;
            border-color: white;
        }

    #chatListComponent .chat-link {
        display: flex;
        align-items: center;
        color: #1E3A8A;
        text-decoration: none;
        width: 100%;
    }

        #chatListComponent .chat-link:hover {
            color: white;
        }

    #chatListComponent .chat-list-item:hover .chat-link {
        color: white;
    }

    #chatListComponent .chat-list-item:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #chatListComponent .create-chat-btn .btn {
        background-color: #1E3A8A;
        color: white;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

        #chatListComponent .create-chat-btn .btn:hover {
            background-color: #3B82F6;
        }
</style>
