@using SimpleSocialApp.Models.ViewModels.Chats
@model ModifyChatParticipantViewModel

@{
    var addAction = Model.Action == "Add" ? "Add" : "Remove";
}

@if(Model.Users.Count==0 || Model.Users == null)
{
    if (addAction == "Add")
    {
        <label class="h4">No users to add to the chat</label>
    }
    else
    {
        <label class="h4">No users to remove from the chat</label>
    }
    <a asp-action="Index" asp-controller="Chat" asp-route-ChatId="@Model.ChatId">Return to chat</a>
}
else
{
<form asp-controller="Chat" asp-action="ModifyUsers" method="post">
    <div class="form-group">
        <label class="h4">Select Participants</label>
        <div class="checkbox-list">
            @foreach (var user in Model.Users)
            {
                <div class="form-check user-item d-flex align-items-center mb-3">
                    <input type="checkbox" class="form-check-input me-2 larger-checkbox" id="user_@user.Id" name="userIds" value="@user.Id" />
                    <img src="@(!string.IsNullOrEmpty(user.Media?.Url) ? user.Media.Url : "/images/profile_default/default_avatar.jpg")"
                         alt="@user.FirstName @user.LastName"
                         class="user-avatar me-3" />
                    <label class="form-check-label" for="user_@user.Id">@user.FirstName @user.LastName</label>
                </div>
            }
        </div>
    </div>

    <input type="hidden" name="chatId" value="@Model.ChatId" />
    <input type="hidden" name="actionType" value="@Model.Action" />

    <button type="submit" class="btn btn-primary mt-3">@addAction</button>
</form>
}
<!-- Custom CSS -->
<link rel="stylesheet" href="~/css/modify-users.css">