@using SimpleSocialApp.Data.Enums
@using SimpleSocialApp.Models.ViewModels.AppUsers
@model UserViewModel

<div class="user-card">
    <div class="user-info">
        <img src="@(!string.IsNullOrEmpty(Model.User.Media?.Url) ? Model.User.Media.Url : "/images/profile_default/default_avatar.jpg")" 
             alt="@Model.User.FirstName @Model.User.LastName" />

        <div class="user-details">
            <h5>@Model.User.FirstName @Model.User.LastName</h5>
        </div>
    </div>

    <div class="user-actions">
        <a href="@Url.Action("Profile", "User", new { userId = Model.User.Id })" class="btn btn-primary">Profile</a>
        
        @if (Model.Type == null)
        {
            <form method="post" asp-controller="User" asp-action="SendFriendRequest">
                <input type="hidden" name="userId" value="@Model.User.Id" />
                <button type="submit" class="btn btn-primary">Add Friend</button>
            </form>
        }
        else if(Model.Type == FriendshipType.Pending)
        {
            <form method="post" asp-controller="User" asp-action="RemoveFriendship">
                <input type="hidden" name="userId" value="@Model.User.Id" />
                <button type="submit" class="btn btn-primary">Cancel Request</button>
            </form>
        }
    </div>
</div>

<link rel="stylesheet" href="~/css/partials/_user-profile-partial.css">